<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @product.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @product.description %>
</p>

<p>
    <strong>Image:</strong>
    <%= @product.image %>
</p>

<p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Edit', edit_customer_product_path(current_customer, @product) %> |
<%= link_to 'Back', customer_products_path(current_customer) %>
