<!DOCTYPE html>
<html>
<head>
    <title><%= @page_title || 'Store' %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills">
                <li class="active"><%= link_to 'Home', store_path %></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class="col-sm-12">
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
